
<section class="answer">
    <div class="container">
        <div class="answer-pre-title">
            Результат прохождения теста >
            <div id="answer-title">Тест №1. “JavaScript: Начальный уровень”</div>
        </div>
        <h1 class="big-title"><span>Правильные ответы</span> к тесту</h1>
        <div class="answer-mail">

        </div>
        <div class="answer-wrapper">

        </div>
        <div class="answer-question">

        </div>
        <div class="answer-result">
            <a href="javascript:void(0)" id="pass" class="answerBtn">Обратно к моему результату теста <img
                    src="/images/arrow-test.png" alt="Стрелка"></a>
        </div>
    </div>
</section>
